<h1>Welcome to your Dashboard, {{user.username}}!</h1>

<a href="/create-task">Create a Task</a>

<a href="/update-task">Update a Task</a>

<a href="/remove-task">Delete a Task</a>

{{#if tasks}}
{{#each tasks}}
<h3>{{title}}</h3>
<p>{{description}}</p>
<p>{{confirmedDone}}</p>
{{/each}}
{{/if}}