<h1>Hello from all employees page</h1>
<a href="/dashboard">Dashboard</a>
<a href="/employees/new">Register a new employee</a>
<div class="container">
  <div id="employeesList">
    {{#each employeesList }}
    <ul>

      <li> {{this.firstName}} <a href="/employees/{{this._id}}/update">UPDATE</a></li>

    </ul>

    {{/each }}
  </div>
</div>
