<section id="intro">
  <div class="jumbotron">
    <div class="container">
      <div class="hero">
        <h1>{{title}}</h1>
        <h3>Onboarding & Offboarding can be so easy.</h3>
      </div>
    </div>
  </div>
</section>
